<link href="/public/css/profile.css" rel="stylesheet">
<div class="card-container">
	{{#if profilePicture}}
        <img class="round" src="../public/images/users/{{profilePicture}}" alt="{{firstName}}" />
    {{else}}
        <img class="round" src="../public/images/users/avatar-profile.jpeg" alt="{{firstName}}" />
    {{/if}}
	<h3>{{firstname}} {{lastname}}</h3>
	<h6>{{location}}</h6>
	<p>{{biography}}</p>
    <p class= "gender">Gender: {{gender}}</p>
    <p class= "contact">Contact: {{phoneNumber}} <br> {{emailAddress}}</p>
    <button class="btn" onclick="/updateUser">Edit Profile</button>
    <br/>
    <br/>
</div>